* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }

  
form {
    margin: 16px 0;
}

.results{
    display: flex;
    border: 1 solid black;
}

.bookmark {
    display: flex;
    flex-direction: row;
    margin: 10px;
}